<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="about main">
    {{>header}}
     <h1><span class="text">About Us</span></h1>
    <h3>Home/about</h3>
   
      <div class="cards boxes">
            
        <div class="box">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
             Provident quos sequi tempora modi illo culpa aperiam ducimus animi odio ex?</p>
         <button class="btn1">Learn More</button>
        </div>
         <div class="box">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
             Provident quos sequi tempora modi illo culpa aperiam ducimus animi odio ex?</p>
         <button class="btn1">Learn More</button>
        </div>
       <div class="box">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
             Provident quos sequi tempora modi illo culpa aperiam ducimus animi odio ex?</p>
           <button class="btn1">Learn More</button>
        </div>
          
        </div>

    {{>footer}}
    
    </div>
</body>
</html>