<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main register">
    {{>header}}
    <h1>Login Here</h1>
     <div class="mains">
    <div class="form_main">
         <h2>Registeration Form</h2>
         <form  action="/login" method="POST">
            <input type="email" class="input" name="emails" value="" placeholder="Email">
            <input type="password" class="input" name="passwords" value="" placeholder="Password">
            <button class="btn-login" type="submit" >Login</button>  

         </form>
             </div>
    </div>
    {{>footer}}
    </div>
    
</body>
</html>