<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
<div class="mains">
    <div class="form_main">
         <h2>Registeration Form</h2>
         <form  action="/add" method="POST">
            <input type="text" class="input" name="name" value="" placeholder="Enter Name">
            <input type="email" class="input" name="email" value="" placeholder="Email">
            <input type="number" class="input" name="phone" value="" placeholder="Phone Number">
            <input type="file" class="input">
            <button class="btn-login" >Register</button>  

         </form>
             </div>
    </div>

</body>
</html>