<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="mains">
    <div class="form_main">
         <h2>Registeration Form</h2>
         <form  action="/register" method="POST">
            <input type="text" class="input" name="fname" value="" placeholder="First Name">
            <input type="text" class="input" name="lname" value="" placeholder="Last Name">
            <input type="email" class="input" name="email" value="" placeholder="Email">
            <input type="number" class="input" name="phone" value="" placeholder="Phone Number">
            <input type="password" class="input" name="password" value="" placeholder="Password">
            <input type="password" class="input" name="Cpassword" value="" placeholder="Confirm Password">
            <button class="btn-login" >Register</button>  

         </form>
             </div>
    </div>
</body>
</html>